@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

/* VARS */

$small: 576px;
$medium: 822px;
$primary-font: #151515;
$secundary-font: #717171;
$hover-color: #b12b38;
$bg-grey: #c7c7c787;
$bg-grey-line: #cecdcd;
$sec-margin: 40px 0px;
$grid-breakpoints: (
    sm: 576px,
    md: 822px
);

/* HEADER */

.header-nav {
    display: flex;
    flex-direction: row;

    .nav {
        display: flex;
        flex-direction: row;

        .nav-link {

            .nav-btn {
                border: none;
                background: none;
                width: 100px;
                align-items: center;
                transition: all 0.2s linear;

                span {
                    padding-bottom: 7px;
                    letter-spacing: 1px;
                    font-size: 13px;
                    text-transform: uppercase;
                }
            }

            .hover-underline-animation {
                position: relative;
                color: black;
                padding-bottom: 20px;

                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 1.5px;
                    bottom: 0;
                    left: 0;
                    background-color: #000000;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }
            }

            .nav-btn:hover {
                transform: translateY(-2px);

                .hover-underline-animation:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }

        .cart-link {
            margin-right: 10px;

            .btn {
                width: 100px;
                height: 40px;

                &:hover {
                    transform: translateY(-2px);
                }
            }

            .btn-danger:hover {
                transform: translateY(-2px);
            }
        }
    }
}

/* INICIO */

.main-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sec-carousel {
        width: 75%;
        margin: $sec-margin;
    }

    .sec-destacados {
        width: 70%;
        margin: $sec-margin;

        .dest-div {
            margin: 20px 10px;
        }

        .cards-div {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 0px;

            .card {
                background: rgb(255, 255, 255);
                border-radius: 0.4em;
                box-shadow: 0.3em 0.3em 0.7em #00000015;
                transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                border: rgb(202, 201, 201) 0.1em solid;
                color: $primary-font;
                text-decoration: none;

                &:hover {
                    border: #a9a9a9 0.2em solid;
                    color: $hover-color;
                    text-decoration: none;
                }
            }
        }

    }

    .sec-servicios {
        width: 50%;
        margin: $sec-margin;
        display: flex;
        justify-content: center;
        text-align: center;

        .serv-item {
            margin: 0px 20px;
        }
    }
}

/* PRODUCTOS */

.box-shadow {
    border-radius: 10px;
    background: #e8e8e8;
    box-shadow:  -5px 5px 20px #d1d1d1,
                5px -5px 20px #ffffff;
}

.main-productos {
    margin: 0px 50px;

    .cont-productos {
        display: flex;
        flex-direction: row;

        .filtros-prod {
            height: fit-content;
            width: 25%;
            margin: 50px;
            padding: 20px 0px;
        }

        .expositor-prod {
            width: 80%;
            margin-top: 50px;

            .cards-div {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                margin-bottom: 20px;

                .card {
                    width: 75%;
                    background: rgb(255, 255, 255);
                    border-radius: 0.4em;
                    box-shadow: 0.3em 0.3em 0.7em #00000015;
                    transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    border: rgb(202, 201, 201) 0.1em solid;
                    color: $primary-font;
                    text-decoration: none;
    
                    &:hover {
                        border: #a9a9a9 0.2em solid;
                        color: $hover-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .page-nav {
        margin: 50px 0px;

        .page-link {
            color: #2b2b2b;

            &:hover {
                color: #b12b38;
            }
        }
    }
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $bg-grey-line;
    background-color: $bg-grey;

    .footer-nav {
        align-self: center;
        margin-left: 10px;

        .nav {
            display: flex;
            flex-direction: column;
            align-self: center;

            .nav-link {
                font-size: 14px;
                padding: 1px;
                color: $secundary-font;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }

    .redes-foot {
        display: flex;
        align-self: end;

        i {
            font-size: 20px;
        }

        a {
            color: $primary-font;
            margin: 10px;

            &:hover {
                color: $hover-color;
            }
        }
    }

    .inf-footer {
        text-align: center;
        padding-top: 12px;

        p {
            font-size: 12px;
            color: $secundary-font;
        }
    }
}


/* MEDIA TABLETA */

@media screen and (max-width: $medium) {

    .header-nav {
        flex-direction: column;
    }

    .main-inicio {

        .sec-carousel {
            width: 100%;
        }

        .sec-destacados {
            .dest-div {
                text-align: center;

                h2 {
                    font-size: 2rem;
                }
            }

            .cards-div {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 10px;
            }
        }

        .sec-servicios {
            width: 100%;

            .serv-item {
                margin: 0px 5px;
                font-size: 13px;
            }
        }
    }

    .main-productos {
        .cont-productos {
            flex-direction: column;
            align-items: center;

            .filtros-prod {
                margin: 10px 0px;
                padding: 0px;
                width: fit-content;

                .filtros-acordion {
                    display: flex;
                    justify-content: center;
                }
            }

            .expositor-prod {
                width: 80%;
                margin: 0px;

                .cards-div {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 30px;
                    grid-row-gap: 15px;

                    .card {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* MEDIA MOVIL */

@media screen and (max-width: $small) {

    .header-nav {

        .nav {
            flex-direction: column;

            .cart-link {

                .btn {
                    width: 105%;
                }
            }
        }
    }

    .main-inicio {
        .sec-destacados {
            display: flex;
            flex-direction: column;
            width: 65%;

            .cards-div {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 10px;

                .card{
                }
            }
        }
    }

    .main-productos {
        .cont-productos {
            .expositor-prod {
                width: 80%;
                .cards-div {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 10px;
                }
            }
        }
    }

    footer {
        flex-direction: column;
        height: 100px;

        .footer-nav {
            width: 100%;
            margin-top: 10px;

            .nav {
                flex-direction: row;
                justify-content: space-evenly;
            }
        }

        .redes-foot {
            width: 100%;
            justify-content: center;
        }

        .inf-footer {
            display: none;
        }
    }
}