$small: 576px;
$medium: 822px;
$primary-font: #151515;
$secundary-font: #717171;
$hover-color: #b12b38;
$bg-grey: #c7c7c73c;
$bg-grey-line: #cecdcd3a;
$sec-margin: 3.125rem 0rem;
$grid-breakpoints: (
    sm: 576px,
    md: 822px
);