@import "../utilities/variables.scss";
@import "../utilities/extends.scss";
@import "../utilities/mixin";


/* MEDIA TABLETA */

@media screen and (max-width: $medium) {

    .header-nav {
        flex-direction: column;
    }

    .main-inicio {

        .sec-carousel {
            width: 100%;
        }

        .sec-destacados {
            .dest-div {
                text-align: center;

                h2 {
                    font-size: 1.7rem;
                }
            }

            .cards-div {
                @include grid(repeat(2, 1fr),repeat(2, 1fr),50px,10px);
            }
        }

        .sec-servicios {
            width: 100%;

            .serv-item {
                margin: 0px 5px;
                font-size: 13px;
            }
        }
    }

    .main-productos {
        .cont-productos {
            flex-direction: column;
            align-items: center;

            .filtros-prod {
                margin: 10px 0px;
                padding: 0px;
                width: fit-content;

                .filtros-acordion {
                    display: flex;
                    justify-content: center;
                }
            }

            .expositor-prod {
                width: 70%;
                margin: 0px;

                .cards-div {
                    @include grid(repeat(2, 1fr),repeat(2, 1fr),50px,20px);

                    .card {
                        width: 100%;
                    }
                }
            }
        }
    }

    .main-contacto {
        flex-direction: column;
        align-items: center;

        .sec-nosotros{
            width: 80%;
        }

        .sec-map {
            width: 90%;
            margin: $sec-margin;
        }
    }

    .main-faq {
        flex-direction: column;
        align-items: center;

        .sec-respuestas{
            width: 90%;
            padding: 1rem;

            .text-respuestas {
                margin: 1rem;
            }

            .accordion-respuestas {
                padding: 0rem;
            }
        }

        .sec-preguntas{
            display: none;
        }
    }

    .main-cart {
        flex-direction: column;
        align-items: center;

        .shopping-cart{
            width: 90%;
        }

        .price-cart{
            width: 70%;
            margin: $sec-margin;
        }
    }
}

/* MEDIA MOVIL */

@media screen and (max-width: $small) {

    .header-nav {

        .nav {
            flex-direction: column;

            .cart-link {

                .btn {
                    width: 105%;
                }
            }
        }
    }

    .main-inicio {
        .sec-destacados {
            display: flex;
            flex-direction: column;
            width: 65%;

            .cards-div {
                @include grid(1fr,repeat(4, 1fr),0px,20px);
            }
        }
    }

    .main-productos {
        .cont-productos {
            .expositor-prod {
                width: 60%;
                .cards-div {
                    @include grid(1fr,repeat(4, 1fr),0px,20px);
                }
            }
        }
    }

    .main-cart {
        .shopping-cart {
            padding: 1.25rem;

            .shopping-item {
                flex-direction: column;
                justify-content: space-evenly;
                padding: .625rem 0rem;

                .item-product{
                    width: 60%;
                }

                .item-price{
                    width: 60%;
                }
            }
        }

        .price-cart {
            padding: 4%;
        }
    }

    footer {
        flex-direction: column;
        height: 100px;

        .footer-nav {
            width: 95%;
            margin-top: 10px;

            .nav {
                flex-direction: row;
                justify-content: space-evenly;
            }
        }

        .redes-foot {
            width: 100%;
            justify-content: center;
        }

        .inf-footer {
            display: none;
        }
    }
}