@import "../utilities/variables.scss";
@import "../utilities/extends.scss";

.main-productos {
    margin: 0px 50px;

    .cont-productos {
        display: flex;
        flex-direction: row;

        .filtros-prod {
            @extend %box-shadow;
            height: fit-content;
            width: 25%;
            margin: 50px;
            padding: 20px 0px;
        }

        .expositor-prod {
            width: 80%;
            margin-top: 50px;

            .cards-div {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                margin-bottom: 20px;

                .card {
                    width: 75%;
                    background: rgb(255, 255, 255);
                    border-radius: 0.4em;
                    box-shadow: 0.3em 0.3em 0.7em #00000015;
                    transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    border: rgb(202, 201, 201) 0.1em solid;
                    color: $primary-font;
                    text-decoration: none;
    
                    &:hover {
                        border: #a9a9a9 0.2em solid;
                        color: $hover-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .page-nav {
        margin: 50px 0px;

        .page-link {
            color: #2b2b2b;

            &:hover {
                color: #b12b38;
            }
        }
    }
}